.App {
  max-width: 1200px;
  margin: auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin: 0 20px;
}
a {
  text-decoration: none;
  color: #555555;
}
a.active {
  color: blue;
}